.bg-formacao{
  background-color: rgb(29, 29, 29);
}
.formacao{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  padding: 0;
}

.subtitulo-formacao{
  font-size: 10rem;
  text-transform: uppercase;
  font-weight: 900;
  color: rgb(201, 201, 201);
  word-break: break-all;
}

.two-collum-formacao{
  color:white;
  margin-top: 30px;
}

.formacao-texto{
  font-size: 1.4rem;
  line-height: 1.3;
  color: rgb(201, 201, 201);
  margin-bottom: 25px;
  max-width: 45ch;
}

.cursos-formacao{
  display: flex;
  gap: 15px;
  margin: 25px 0 25px 0;
  flex: 1;
  flex-wrap: wrap;
}

.curso-formacao{
  background-color: black;
  padding: 15px 10px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex-wrap: wrap;
  flex: 1;
}

.especialidade, .faculdade{
  font-size: 1rem;
  color: rgb(150, 150, 150);
}

.curso-nome{
  font-size: 1.3rem;
  flex: 1;
  position: relative;
}

.curso-nome::before{
  content: "";
  background: linear-gradient(to top, green, rgb(0, 238, 0));
  height: 25px;
  width: 4px;
  display: block;
  position: absolute;
  left: -13px;
}


.faculdade:not(.especialidade){
  text-transform: uppercase;
}

.cursos{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.curso{
  font-size: 0.78rem;
  color: gray;
  text-transform: uppercase;
}

.cursos-inter{
  display: flex;
  gap: 25px;
  flex-direction: column;
}
.cursos li{
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 10px;
}

.cursos ul li:not(.idiomas ul li){
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cursos span{
  color: gray;
}


@media(width<=840px){
  .bg-formacao{
    padding: 25px;
  }
  .formacao{
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 5px;

  }
  .subtitulo-formacao{
    font-size: 3rem;
  }

  .formacao-texto{
    font-size: 1.1rem;
    text-align: center;
  }
}

